* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

p{
    margin: 0;
}

header {
    color: white;
    background-color: black;
}
.button{
    padding:5px;
    background-color: white;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 40px auto;
}
.row {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.card {
    width: 18rem;
    margin: 20px 0;
    margin-top:0; 
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 1.4em;
}


/* ul {
    width: 200px;
    position: absolute;
    right: 64.5px;
    top: 45px;
    z-index: 1;
} */

 /* .search-dropdown {
     position: relative;
 } */